BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
